div {
	border-style: dotted;
	border-width: 1px;
}

.other-player {
	height: 33%;
}

.current-player {
	text-align: right;
}

.navbar {
	height: 10%;
}

#notice {
	height: 5%;
}

.board {
	height: 89%;
}

.navbar {
	width: 100%;
	white-space: nowrap;
}

.market-grid {
	height: 4%;
	text-align: right;
	color: white;
}

.market-border {
	color: black;
}

.current-player-bank {
	height: 33%;
}

.current-player-info {
	height: 32%;
}

.value-divider {
}
