a {
	color: #000000;
}

a:link {
	text-decoration: underline;
}

a:hover {
	color: #3ccd47; 
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
    font-size: 500%;
}
h2 {
    color: #084f09;
}

.jumbotron {
    
}

@media screen and (min-width:1000px) {

	#content { 
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
}
